node_modules
.git
.gitignore

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log
*.log

# Build output
dist

# Uploads
uploads

# Prisma
prisma/migrations

# TypeScript
*.tsbuildinfo

# OS
.DS_Store